<% provide(:title, "About") %>
<h1>About Micro Feel </h1>
<p>Micro Feel is a small micro blogging system built and deployed independently by George Alonge.</p>
<p>The project is aimed at demonstrating the beauty of web developement using rails concrete about TDD/BDD techniques.</p>