<div class="center hero-unit">
		<h1>Welcome to Micro Feel App</h1>
		<h2>This is a <a href="http://sialabsafrica.com/index">micro blogging</a> site ["Micro Feel"] still in developement. Built on the rails framework</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
