@import "bootstrap";

/* universal styling */
html {
	overflow-y: scroll;
}

body {
	padding-top: 6opx;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */
h1,h2,h3,h4,